CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_QUOTA_NETLINK_INTERFACE=y
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_L2TP_V3=y
CONFIG_L2TP_IP=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_NF_LOG_IPV4=y
CONFIG_NF_LOG_IPV6=y
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_INET_AH=y
CONFIG_INET6_AH=y
# CONFIG_STATIC_USERMODEHELPER is not set
# CONFIG_DUMMY is not set
